@font-face {
    font-family: 'Aleo';
    font-weight: normal;
    font-style: normal;

    src: url('../../css/fonts/aleo/aleo-regular-webfont.eot');
    src: url('../../css/fonts/aleo/aleo-regular-webfont.eot') format('embedded-opentype'),
         url('../../css/fonts/aleo/aleo-regular-webfont.woff2') format('woff2'),
         url('../../css/fonts/aleo/aleo-regular-webfont.woff') format('woff'),
         url('../../css/fonts/aleo/aleo-regular-webfont.ttf') format('truetype'),
         url('../../css/fonts/aleo/aleo-regular-webfont.svg') format('svg');
}